.display-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 650px;
}

.boxes {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2px;
	background-color: #1A8FE3;
	box-sizing: border-box;
	width: 538px;
	height: 538px;
	padding: 2px;
}

.col {
	box-sizing: border-box;
	height: 132px;
	width: 132px;
	background-color: #6610F2;
	color: #F17105;
	font-size: 50px;
	font-weight: bold;
	border: solid 1px #E6C229;
	transition-duration: 250ms;
}

.col.change {
	color: #6610F2;
}

.score-board {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 24px;
	font-weight: bold;
}

.score-board .sep {
	width: 10px;
}
